@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

/* bg-linear-to-br from-[#004D98] from-50% to-[#A50044]  */

@theme {
  /* fonts */
  --font-roboto-condensed: "Roboto Condensed", sans-serif;

  /* colors */
  --color-dark-green: #0b3119;
  --color-darker-green: #072613;
  --color-light-green: #1c4727;
  --color-bright-green: #377c40;

  /* media queries */
  --breakpoint-md2: 820px;
}

@layer base {
  html {
    font-size: 16px;
  }

  body {
    font-family: var(--font-roboto-condensed);
    background-color: var(--color-dark-green);
    color: white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-roboto-condensed);
    color: white;
  }

  button,
  a {
    cursor: pointer;
  }
}

@layer components {
  .bg-gradient {
    background: linear-gradient(to bottom right, #004d98 50%, #a50044);
  }

  .bg-gradient-2 {
    background: linear-gradient(
      to bottom right,
      --color-dark-blue 0%,
      --color-blueish-gray 100%
    );
  }

  .hover-rounded-animation {
    @apply transition-all duration-500 ease-in-out rounded-bl-sm rounded-tr-sm hover:rounded-tl-sm hover:rounded-br-sm hover:rounded-bl-none hover:rounded-tr-none;
  }

  .shadow-custom {
    @apply shadow-lg shadow-[#a50044];
  }

  .grid-custom {
    @apply grid grid-cols-1 lg:grid-cols-2 grid-rows-[repeat(11,20vh)] lg:grid-rows-[repeat(10,8vh)];
  }
}
