@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

/* bg-linear-to-br from-[#004D98] from-50% to-[#A50044]  */

@theme {
  /* fonts */
  --font-roboto-condensed: "Roboto Condensed", sans-serif;

  /* colors */
  --color-dark-blue: #0f172a;
  --color-blueish-gray: rgb(30, 41, 59);
}
